	/* Coded with love by Mutiullah Samim */
    body,
    html {
        background-image: url('../images/fondo.jpg');
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .user_card{
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: auto;
        background-color: rgba(0,0,0,0.5) !important;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #ffffff;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
    }
    .form_container {
        margin-top: 100px;
    }

    .login_btn {
        width: 100%;
        background: #71b32d !important;
        color: white !important;
    }
    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .login_container {
        padding: 5 2rem;
    }
    .input-group-text {
        background: #71b32d !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-control-label {
        color: white; /* Configura el color blanco para el texto */
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #71b32d !important;
    }

    .login_redireccionar a {
        color: #3498db; /* Color azul suave, puedes cambiarlo según tus preferencias */
        text-decoration: none; /* Elimina el subrayado del enlace */
        transition: color 0.3s ease; /* Agrega una transición de color suave */
        margin-left: 10px;
    }
    
    .login_redireccionar a:hover {
        color: #66a3e0; /* Cambia el color al pasar el ratón sobre el enlace */
    }

    
    .card-footer {
        color: white;
    }
    
    .card-footer .d-flex.justify-content-center {
        text-align: center;
        margin-top: 5px;
    }

    .olvidar a{
        color: #3498db; /* Color azul suave, puedes cambiarlo según tus preferencias */
        text-decoration: none; /* Elimina el subrayado del enlace */
        transition: color 0.3s ease; /* Agrega una transición de color suave */
        margin-left: 10px;
    }
    
    .olvidar a:hover {
        color: #66a3e0; /* Cambia el color al pasar el ratón sobre el enlace */
    }